<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
    
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    </div>

    <h2>Find out more about the red planet.</h2>

    <div class="card bg-dark text-white">
      <h3 class="card-title">Mars Featured Image</h3>        
      <img src="{{ vacation.featured_image_url }}" class="card-img" alt="...">
      <div class="card-img-overlay">
      </div>
    </div>
    
    <div>
      <h5>Mars Data</h5>
      {{ vacation.html_table | safe }}
    </div>
    
    <br>
    <div class="card" style="width: 22rem;">
      <div class="card-body">
        <h5 class="card-title">Mars Weather Tweet</h5>
        <p class="card-text">"{{vacation.mars_weather_tweet}}"</p>
      </div>
    </div>
    <br>
    <div>
      {{ vacation.hemisphere_image_urls | safe }}
    </div>
</body>

</html>
